* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

form {
  background-color: #a1dffb;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 500px;
  padding: 50px 0 50px 0;
}

form input {
  height: 25px;
}

form > * {
  width: 400px;
}

textarea {
  height: 50px;
}

button {
  background: #f9de59;
  border: none;
  height: 30px;
  border-radius: 15px;
}
